@model IEnumerable<StaffPortal.Entities.Faculty>
@{
    ViewData["Title"] = "Faculties";
}
<!-- ============================================================== -->

<div class="row bg-title">
    <div class="col-lg-12">
        <h4 class="page-title">Faculty</h4>
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Faculty</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="white-box">
            <h3>Faculty</h3>
            <!-- <h6 class="card-subtitle">Add New Faculty</h6>-->
            <div class="col-md-12 col-12 align-self-center">
                <a asp-controller="Faculty" asp-action="Create" class="btn float-right hidden-sm-down btn-primary"><i class="mdi mdi-plus-circle"></i>New Faculty</a>
            </div>
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0">ID</th>

                            <th class="border-top-0">Name</th>
                            <th class="border-top-0">Code</th>
                            <th class="border-top-0">CreatedBy</th>
                            <th class="border-top-0">Date Created</th>
                            <th class="border-top-0"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Faculty in Model)
                        {
                            <tr>
                                <td>@Faculty.Id</td>

                                <td>@Faculty.Name  </td>
                                <td>@Faculty.Code </td>
                                <td>@Faculty.CreatedBy  </td>
                                <td>@Faculty.DateCreated    </td>

                                <td>

                                    <a class="btn btn-success btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Edit" asp-action="Edit" asp-route-id="@Faculty.Id" alt="Edit"><i class=" fa fa-edit" aria-hidden="true"></i></a>

                                    <a class="btn btn-danger btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Delete" asp-action="Delete" asp-route-id="@Faculty.Id" onclick="return confirm('Are you sure you want to Delete this user: @Faculty.Name')">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
</div>


