@model StaffPortal.Entities.Salary
@{
    ViewData["Title"] = "Salary";
}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Salary</h3>
    </div>
    <!--   <div class="col-md-7 align-self-center">
         <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
      </div>-->
</div>

<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="white-box">
            @*<h3>Salary</h3>*@
            <div class="table-responsive">
                <form asp-action="Create" method="post" class="mt-4">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlSelect1">Employees</label>
                                            <select class="form-control" id="exampleFormControlSelect1" asp-for="ApplicationUser" asp-items="@ViewBag.accountName">
                                                <option>Choose Option</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlSelect1">Grade</label>
                                            <select class="form-control" id="exampleFormControlSelect1" asp-for="GradeId" asp-items="@ViewBag.gradeName">
                                                <option>Choose Option</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlSelect1">Level</label>
                                            <select class="form-control" id="exampleFormControlSelect1" asp-for="GradeId" asp-items="@ViewBag.gradeLevel">
                                                <option>Choose Option</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlSelect1">Step</label>
                                            <select class="form-control" id="exampleFormControlSelect1" asp-for="GradeId" asp-items="@ViewBag.gradeStep">
                                                <option>Choose Option</option>
                                            </select>
                                        </div>


                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="BasicSalary">Basic Salary</label>
                        <input type="text" asp-for="BasicSalary" class="form-control" id="name" placeholder="Enter Basic Salary" required="">
                        <span asp-validation-for="BasicSalary" class="text-danger"></span>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>PayItem</th>
                                <th>Amount</th>
                                <th>%</th>
                                <th>PayItem Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="Tax">Tax</label>
                                </td>
                                <td>

                                    <div class="form-group">
                                        <input type="text" asp-for="Tax" disabled class="form-control" id="name" >
                                        <span asp-validation-for="Tax" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" asp-for="TaxPercent" class="form-control" id="name" placeholder="Enter LunchPercent" required="">
                                        <span asp-validation-for="TaxPercent" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" value="@Model.TaxItemType" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Housing">Housing</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" asp-for="Housing" disabled class ="form-control" id="name" >
                                        <span asp-validation-for="Housing" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" asp-for="HousingPercent" class="form-control" id="name" placeholder="Enter Housing" required="">
                                        <span asp-validation-for="HousingPercent" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" value="@Model.HousingItemType" />
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <label for="Lunch">Lunch</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" asp-for="Lunch" disabled class="form-control" id="name" >
                                        <span asp-validation-for="Lunch" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" asp-for="LunchPercent" class="form-control" id="name" placeholder="Enter LunchPercent" required="">
                                        <span asp-validation-for="LunchPercent" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" value="@Model.LunchItemType" />
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="Transport">Transport</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" asp-for="Transport" disabled class="form-control" id="name">
                                        <span asp-validation-for="Transport" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" asp-for="TransportPercent" class="form-control" id="name" placeholder="Enter Transport" required="">
                                        <span asp-validation-for="TransportPercent" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" value="@Model.TransportItemType" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Medical">Medical</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" asp-for="Medical" disabled class="form-control" id="name" >
                                        <span asp-validation-for="Medical" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" asp-for="MedicalPercent" class="form-control" id="name" placeholder="Enter Medical" required="">
                                        <span asp-validation-for="MedicalPercent" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" value="@Model.MedicalItemType" />
                                    </div>
                                </td>
                            </tr>
                    </table>
                    <br />
                    <div class="form-group">
                        <label asp-for="NetSalary">Net Salary</label>
                        <input type="text" asp-for="NetSalary" disabled class="form-control" id="name" >
                        <span asp-validation-for="NetSalary" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    @*<button type="submit" class="btn btn-dark">Cancel</button>*@
                    <a href="Cancel" type="button" class="btn btn-dark">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>