@model IEnumerable<StaffPortal.Entities.Salary>
@{
    ViewData["Title"] = "Salary";
}


<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Salary</h4>
        </div>
        <div class="col-5 align-self-center">
            <div class="customize-input float-right">
                <a asp-controller="Salary" asp-action="Create" class="btn btn-rounded btn-info">Setup Salary</a>
            </div>
        </div><br />
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Grade</th>
                        <th>Level</th>
                        <th>Step</th>
                        <th>Basic Salary</th>
                        <th>Tax</th>
                        <th>Lunch</th>
                        <th>Housing</th>
                        <th>Medical</th>
                        <th>Transport</th>
                        <th>Total Allowance</th>
                        <th>Total Deduction</th>
                        <th>Net Salary</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model)
                    {
                    <tr>
                        <td>@s.ID</td>
                        <td>@s.Email</td>
                        <td>@s.Grade.GradeName</td>
                        <td>@s.Grade.Level</td>
                        <td>@s.Grade.Step</td>
                        <td>@s.BasicSalary</td>
                        <td>@s.Tax</td>
                        <td>@s.Lunch</td>
                        <td>@s.Housing</td>
                        <td>@s.Medical</td>
                        <td>@s.Transport</td>
                        <td>@s.TotAllowance</td>
                        <td>@s.TotDeduction</td>
                        <td>@s.NetSalary</td>

                        <td><a asp-action="Edit" asp-route-id="@s.ID" alt="Edit"><i class="ti-pencil" aria-hidden="true"></i></a> </td>
                        <td><a onclick="return confirm('Are you sure you want to delete this record');" asp-action="Delete" asp-route-id="@s.ID"><i class="ti-trash" aria-hidden="true"></i></a> </td>





                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
